<h1>Upcoming Events</h1>

<ul>
    <%= render partial: "event", collection: @upcoming_events, as: :event%>
</ul>

<h1>Previous Events</h1>

<ul>
    <%= render partial: "event", collection: @previous_events, as: :event%>
</ul>